* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 55.5rem;
    margin: auto;
}

main p {
    color: rgb(65, 68, 90);
}

#apresentacao header {
    color: #fff;
    background-color: rgb(59, 104, 78);

    padding: 0.3rem;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;

    border-radius: 0.4rem;
}

#apresentacao p {
    margin-bottom: 1rem;
}

#apresentacao figure {
    width: 50rem;
    margin: 0 2.6875rem;
    margin-bottom: 1rem;

    background-color: rgb(255, 236, 230);
    border: 1px solid rgb(177, 177, 177);
}

#apresentacao figure img {
    width: 37.5rem;
    padding: 0 6.25rem;
}

#apresentacao figure figcaption {
    text-align: center;
    font-style: italic;
}

.format h2 {
    border-bottom: 4px solid greenyellow;

    margin-bottom: 1rem;
}

#historico p, #cursos p {
    margin-bottom: 1rem;
}

#cursos ul {
    margin-bottom: 1rem;
}

#cursos ul li {
    margin-left: 2rem;
    color: rgb(65, 68, 90);
}

#rodape {
    width: 83.25rem;
    height: 7rem;
    margin: 0 auto;

    background-color: rgb(55, 83, 69);
    color: #fff;

    border-top: 4px solid greenyellow;
}

#rodape {
    text-align: center;
}

#rodape section {
    float: left;
    padding-left: 5rem;
    padding-top: 1.7rem;
}


